<%= render 'companies/sidebar' %> 
<div id="ads" class="gender_solid_background round"> 
<div class="ads_for_single_category gender_middle_background round">
  <h4> <%= @company_title  %></h4>
<% @service_companies.each do |i| %>
<p> <%= link_to i.company.name, i.company %> </p>
<%  end %>
 </div>
 </div>

