<% if @game.deadline  %>
<p> Next Deadline: <script>
var cd = new Countdown({
                              month : <%= @game.deadline.month %>,
                              day : <%= @game.deadline.day %>,
                              hour : <%= @game.deadline.hour %>,
                              minute : 0,
                              rangeLo : "minute",
                              rangeHi : "hour",
                              hideLine : true,
                              width    : 150
                         });
</script> </p>
<% end %>



