<div class="countdown">
<% if @game.deadline  %>
<div class="left"> Next Deadline:</div> <script>
var cd = new Countdown({
                              month : <%= @game.deadline.month %>,
                              day : <%= @game.deadline.day %>,
                              hour : <%= @game.deadline.hour %>,
                              minute : 0,
                              rangeLo : "minute",
                              rangeHi : "hour",
                              hideLine : true,
                              width    : 150
                         });
</script>
<% end %>
</div>


