<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<h1>
  About
</h1>

<p>Network Service Business Game is a part of Aalto University Course.
It is build by Toni Mäki and Arindra Kumar Das under the supervision of 
Håkan Mitts,Mikko Heiskala, Paul Lillrank, Markku Tinnilä and Matti Rossi.
  
</p>
