<h1>
  About
</h1>

<p>Network Service Business Game is a part of Aalto University Course.
It is build by Toni Mäki and Arindra Kumar Das under the supervision of 
Håkan Mitts,Mikko Heiskala, Paul Lillrank, Markku Tinnilä and Matti Rossi.
  
</p>
