<% provide(:title, 'Help') %>
<h1>Help</h1>
<h3>Below are the list of icons with different meaning and how to use them</h3>
<p>
  If you find some problem or need some help regarding the game, email arindra@arindra.com <br/>
</p>
