<div id="logo1" style="padding-left:10px;">
<%= image_tag("aaltologo.png") %>
</div>
<p style="padding-left:10px;"><small>This game is a part of Aalto Introduction to Services Course (Course Code: TU-22.1308)</small></p>
<div class="center hero-unit">
<div> <%= image_tag("nbsfrontpg.png" , :style=>"padding-left:10%;padding-bottom:30px;") %></div>
<% if !signed_in? && @game.sign_up_open %>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
 <% end %> 
 </div>

<blockquote>
  <p>"Being the richest man in the cemetery doesn't matter to me.. <%= @value %>
     Going to bed at night saying we've done something wonderful.. that's what matter to me."</p>
  <small>Steve Jobs</small>
</blockquote>








