<div class="center hero-unit">
<h1>Network Business Game</h1>
<p class="color">
  This is the home page of network business game.
  <% if signed_in? %>
  Hello <%= current_user.name%>
  <% end %>
</p>

 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>