<div class="center hero-unit">
<%= image_tag("nbsfrontpage.png") %>
<p class="color">
  This game is a part of Network Business Course (Course Code: T-......)
  <% if signed_in? %>
  Hello <%= current_user.name%>
  <% end %>
</p>

 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
