<%= provide(:title, "Shhh...")%>
<div class="secret"></div>

<div class="enemy"> <%= image_tag("goblin.jpg") %></div>

<div class="desc"> <p> Oh no! A wild goblin attacks! Use "a" to attack it! </p></div>

<div class="status"></div>