<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<br/>
<br/>
<h3> Search Results </h3>
<% if @companies.empty? && @usersbyname.empty? && @usersbystudentnumber.empty? %>
   <% if signed_in? && current_user.teacher? %>
   <p1> Your search doesn't match any Company or Username. If you don't remember the exact name, type any related keywords. </p1>
   <% elsif signed_in? && !current_user.teacher? %>
   <p1> Your search doesn't match any Company. If you don't remember the exact name, type any related keywords. </p1>
   <% end %>
<%else%>
     <%= render partial: "companies/company",collection: @companies%>
     <%= render partial: "users/user",collection: @usersbyname%>
     <%= render partial: "users/user",collection: @usersbystudentnumber%>
<% end %>





 
