# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
/.redcar/
/._redcar/
/db/schema.rb
nbproject/
nbproject/*
/nbproject/
/nbproject/*

# Ignore application configuration
/config/application.yml

# Ignore cloudinary configuration
/config/cloudinary.yml