<h2><%= title %> </h2>
<table  class="bonus_table">
  <tr>
<% companies.each do |c| %>

    <td>
      <div class="operatorbody" >
<%= link_to c do%>
  <p style="font-size:16px;color:white;background-color:brown;text-align:center;width:5.2cm;">
    <span style="padding-top:0.2cm;padding-left:0.2cm;padding-bottom:0.2cm;padding-right:0.2cm;color:white;">
    <strong> <%= c.name %></strong></span></p>
  <%= image_tag(image , :style=>"height:200px;width:200px;") %><%end%><br/>
</div>
    </td>



<% end %>

</tr>
</table>