<%= provide(:title, 'All networks') %>
</br>
<h1>Networks</h1>
 <p><i class="icon-info-sign"></i>  <em>All the network(s) formed by companies under contract are shown below.</em></p></br></br>
<% if @networks.empty? %>
<p1> No networks have been created yet </p1>
<% else %>
  <% @networks.each do |network| %>
    <%= link_to "Network #{network.id}", network, :class => "thumbnail" %><br/>
  <% end %>
<% end %><br/><br/>


