<%= provide(:title, 'All networks') %>
<h1>All Networks</h1>
<% if @networks.empty? %>
<p1> No networks have been created yet </p1>
<% else %>
  <% @networks.each do |network| %>
    <%= link_to "Network #{network.id}", network, :class => "thumbnail" %><br/>
  <% end %>
<% end %><br/><br/>


