<%= provide(:title, 'All networks') %>
</br>
<h1>Networks</h1>
 <p><i class="icon-info-sign"></i>  <em>All the network(s) formed by companies under contract are shown below.</em></p></br></br>


<% @customer_facing_companies.each do |c| %>
	 <% if c.network_ready? %>
	 <div class="thumbnail" style="height:100%;">
	 		<%= link_to "Network lead by #{c.name}", network_path(c.id) %> 
	 		<% if c.role.market %> <%= c.role.market.name %> <% end %> 
	 <% end %>
	 </div><br/><br/>
 <% end %>

<% if signed_in? && current_user.teacher? %>
<%= link_to "Check results from last year", network_reports_path %>
<% end %>


