<br/>
<h3 style="font-size:30px;">All Networks Summary</h3>
<br/>
<br/>
<div style="width:1800px;">

<table class="tableizer-table">
      <tr><td style="background-color:#00CCFF;text-align:left;">Network ID</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td style="background-color:yellow;text-align:left;">Business type</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td style="background-color:yellow;text-align:left;">Sell Price</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Sales Made</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Revenue from Customers ($)</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Net cost ($)</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td style="background-color:yellow;text-align:left;">Profit ($)</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Customer Satisfation</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Maximum number of launches</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Total number of launches delivered</td></tr>
     </table>

<% @networks.each do |n| %>
<% unless  n.network_reports.empty? %> <%=render "quick_report", :report => n.network_reports.last %> <% end %>
<% end %>

</div>
<div id="footer" style="clear:both;text-align:center;">
  </div>  