<br/>
<% if signed_in? && current_user.teacher? %>
<div class ="btn" style="font-size:16px;">
<%= link_to "Go Back",:action => :index%>
</div><%end%>

<% if @network_chunk.empty?  %>

<p> You don't belong to a network </p>

<% else %>


<%= link_to "Show last year's results", network_results_path, :class => "btn btn-primary" %>
<br/><br/>

<% @network_chunk.each do |chunk| %>
<span>
<% companies = chunk[1]  %>
<%= render 'types_view', {:companies => companies, :title => CompanyType.find(chunk[0]).name, :type => CompanyType.find(chunk[0])} %>
</span>
<br/>
<% end %>



<% end %>

