<%= provide(:title, 'Network') %>


<%if @network.companies.empty? %>
<h5> This network is currently empty.</h5>

<% else %>

<p> The realized value for this network is: <%= @network.realized_value %> </p>
<h4> Companies in this network: </h4>
  <% @network.companies.each do |c| %>
  <li><%= link_to c.name, c%>  </li><br/> <br/>
  
  <% end %>
<% end %> 

  