<%= render 'companies/sidebar' %> 
<div id="ads" class="gender_solid_background round"> 
<div class="ads_for_single_category gender_middle_background round">
  <h4 style="color:black;">Marketing</h4> 
<% @customerfacing_companies.each do |i| %>
<%= link_to  i.company.name,i.company,:class=> "btn btncompany"%>  
<%  end %>
 </div>
 </div>
