<table class="quality_table tablesorter sortable">
  <thead>
  <tr>
    <th> Users </th>
    <% @qualities.each do |q|  %>
    <th>  <i class="icon-info-sign"
                       data-title="<%= q.title%>"
                      </i></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
<% users.each do |user| %>
  <% unless user.teacher %>
    <tr>
    <td>
<div class="btn box">
  <%= link_to groups_path(:user_id => user.id) do %><i class="icon-user"></i> <%= user.name %> <%end%>
</div> &nbsp&nbsp&nbsp    </td>
    <% user.qualityvalues.sort_by{|qv| qv.quality.order_number}.each do |q| %>
    <td><%= q.value%> </td>
    <% end %>
     <% unless user.registered %> <td> <i class="icon-warning-sign bluesign" data-content="This user has not yet confirmed email"></i> </td> <% end %>
</tr>
<% end %>
<% end %>
  </tbody>
</table>
