<% @users.each do |user| %>
<% if user.group.nil? && !user.isTeacher %>
  <div class="btn btncompany">
  <%= user.name%> <%=link_to "Add user",{:controller => "groups", :action => "add_member", :id => @group.id, :user_id => user.id}, :class => 'btn btn-small btn-success' %>
  </div><% end %>
<%end%>
