<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'Add users') %>

<div id="ads" class="gender_solid_background round"> 
  <div class="ads_for_single_category gender_middle_background round">
    <%= render "search_form" %>
    <ul class = "users">
<%= render  "user_list" %>
    </ul>
 </div> </div>

<div style="font-size:16px;color:white;">
<%= link_to "Go Back to Group page" ,:action => :index %>
</div>
