<div id="userpage_search">
<%= form_tag search_users_path, :remote => true, :id => "user_search_form" do %>
<%= select_tag "field", options_for_select(User.search_fields, User.search_fields.first), :class => "field" %>
<div class="ui-widget">
 <%= text_field_tag 'query', nil, :placeholder => 'User Search', :class => "query" %>
</div>
<% submit_tag "Search", :id => "search_users" %>
<% end %>
  
</div> </br>