<%= provide(:title, 'All users') %>
<h1>All users</h1>
 <div id="content" style="height:100%;width:70%;float:right;">
   <ul class="users">
   <%= render @users %>
   </ul>
 </div>

<%= render 'search_form' %>
<%= link_to "Add users to groups", sort_users_path, :class => "btn btn-primary" %>

<%#=  select("quality", "quality_id", @qualities.collect {|q| [ q.title, q.id ] }, { :prompt => "Sort by parameter" }, {:id => "qualities"}) %>

<%#=  select("qualityvalue", "qualityvalue_id", [], { :include_blank => true }, {:id => "qualityvalues"}) %>

<div id="footer" style="clear:both;text-align:center;">
</div>