<%if plan.verified %>
      <span class="box verified"> Business Model Canvas status&nbsp:&nbsp&nbsp&nbspCompleted&nbsp</span>
    <% elsif plan.waiting %>
    <span class="box waiting">Business Model Canvas status&nbsp:&nbsp&nbsp&nbspWaiting for teacher verification&nbsp</span>
    <% elsif (!plan.done? && plan.isReady?) || (plan.isReady? && plan.rejected?) %>
    <% if plan.rejected? %>
    <span class="box unfinished" > Your business Model Canvas was rejected. See the business Model Canvas page for details </span> <% end %>
<span class="box waiting">Business Model Canvas status&nbsp:&nbsp&nbsp&nbspReady to submit&nbsp</span>
    <% else %>
      <span class="box unfinished" > Business Model Canvas status&nbsp:&nbsp&nbsp&nbspNot ready&nbsp </span>
<% end %>