
     <!--   <th style="text-align:left;padding-left:6px;">Basic info</th><th>&nbsp</th></tr>  -->
  
<div style="font-size:14px;line-height:20px;">

  Company type:  <%= @company.company_type.name %><br>
  Service Level: <%= @company.service_level_to_s %><br>
  Service type: <%= @company.product_type_to_s %><br>
</div><br><br>