<div style="font-size:14px;line-height:20px;">

Revenue generated last year ($):<%=number_with_precision @company.revenue, :precision=>0 ,:delimiter=>" "  %> <br>
Profit earned last fiscal year ($):
<%if @company.profit >= 0%>
  <%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>" " %>
<% else %>
  <%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>" " %>
<% end %><br>

</div><br><br>