
	<%#= Show network if belong to a network %>
	<% if @network_chunk.empty? %>
		<p> You don't belong to a network </p>
	<% else %>
		
 		<div id="test10" class="btn btn-primary">Show links</div>
		<br/><br/>
		<% @network_chunk.each do |chunk| %>
		
			<% companies = chunk[1]  %>
			<%= render 'networks/types_view', {:companies => companies, :title => CompanyType.find(chunk[0]).name, :type => CompanyType.find(chunk[0])} %>
		
		<% end %>
	<% end %>


<div style="clear:both;"></div>
<div style="display:none;" id="relations"></div>
<input type="hidden" name="CompanyID" id="compid" value="<%= "#{@company.id}" %>"></input>



