<br/>
<div class='mainlinered'></div>
<p style="font-size:50px;text-align:center;"><strong>BUSINESS TIMES</strong></p>
<span style="font-size:20px;"><strong>Breaking News Edition</strong></span>
<% if @news %>
<p id="news_date" style="font-size:15px;text-align:center;"> <%= render 'news_date' %> </p>
<div class='mainline'></div>
<div class='mainline'></div>
<div style="padding-bottom:4px;"></div>
<div class='mainline'></div>
<div class='mainline'></div>

<div class="jsonly">
  <span id="previous_news" class="left"> <i class="icon-arrow-left"></i><strong> Previous</strong></span>
  <span id="next_news" class="right"><strong>Next</strong><i class="icon-arrow-right"></i></span>
  <noscript>
    <%= link_to "Previous", news_path(@news.id - 1) %>
  </noscript>
</div>

<br><br>

<%= provide(:title, "Today's News".html_safe) %>
<div id="news_page">
<%= render @news %>
</div>
<div class="clear"></div>
 
<!-- 

<div id="footer" style="clear:both;text-align:center;">
</div> -->

<% else %><br><br>
<div class='mainline'></div>
<div class='mainline'></div>
<div style="padding-bottom:4px;"></div>
<div class='mainline'></div>
<div class='mainline'></div>
<p style="padding-top:50px;text-align:center;font-size:16px;"> No news have been posted yet </p>
<div id="footer" style="clear:both;text-align:center;padding-top:200px;">
</div> 

<% end %>



