<%= provide(:title, "Today's News") %>
<div id="news_page">
<%= render @news %>
</div>
<div class="jsonly">
  <span id="previous_news"> <i class="icon-arrow-left"></i> Previous</span>

  <i class="icon-th-list"></i>

<span id="next_news">Next <i class="icon-arrow-right"></i></span>
</div>
