<%= provide(:title, "Today's News") %>
<div id="news_page">
<%= render @news %>
</div>
<% if @news.id != @first.id %>
<%= link_to "Previous", news_path(@news.id - 1) %>
<% end %>

<% if @news.id != @last.id %>
<%= link_to "Next", news_path(@news.id + 1) %>
<% end %>