</br><p style="font-size:20px;"><strong>Title:</strong>  <%=  quality.title %> </p>

<p style="font-size:20px;"><strong>Options:</strong></p>

<ul>
  <% quality.qualityvalues.each do |value|  %>
  <li> <%= value.value %> </li>
  <% end %>
</ul>

<p style="font-size:20px;"><strong>Order:</strong> <%= quality.order_number %></p>
