<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, @effect.name) %>
<div class="marketcreatebody">
<div class="showmarketarea">
  <div class="alpha60">
   <%= render @effect %><br/><br/>
    <div class="showmarkettext">
     <%= link_to edit_effect_path(@effect), :class => "btn btn-primary" do %> <i class="icon-edit icon-white"></i> Edit Effect <% end %>
    </div><br/><br/>
  </div>
</div>
<p style="color:white;text-align:right;">The Colosseum. (Sebastian Bergmann/Flickr) </p>
</div>
