


              <% @company.group.users.each do |u| %>
               <% position = (u.position) ? u.position : "Designation not decided" %>
               <span class="contactsmallbox" >   <%= "#{position}" %></span>
             
                <%= "#{u.name} - #{u.email}" %> <br/>
              <% end %>