
              <% @company.group.users.each do |u| %>
               <% position = (u.position) ? u.position : "Not decided" %>
               <span class="span1 contactsmallbox" style="word-wrap:break-word;">   <%= "#{position}" %></span>
               <span style="padding-left:5px;font-size:12px;" >  
                <%= "#{u.name}" %></span> <br/>
                  <span style="padding-left:5px;font-size:12px;" >   <%= "#{u.email}" %> </span>
                  <br/><br/>  <div style="clear: both;"></div><br/><br/>
              <% end %>