<h2> Contact information </h2>
              <% @company.group.users.each do |u| %>

              <% position = (u.position) ? u.position : "Designation not decided" %>

                <%= "#{position}: #{u.name} - #{u.email}" %> <br/>
              <% end %>