
      <tr class="tableizer-firstrow">
       
       <tr><td style="background-color:yellow;text-align:left;">Sell price:</td>
        <%if @company.role.sell_price %>
         <td style="background-color:yellow;text-align:right;"> <%= @company.role.sell_price %></td>
        <%else %>
        <td style="background-color:yellow;text-align:right;">Not yet decided</td>
        <%end %>
      </tr>
       <tr><td style="background-color:yellow;text-align:left;">Target Market</td>
        <%if @company.role.market %>
         <td style="background-color:yellow;text-align:right;"> <%= @company.role.market.name %></td>
        <% else %>
         <td style="background-color:yellow;text-align:right;">  No market decided yet </td>
        <%end %>
      </tr>
      <tr><td style="background-color:yellow;text-align:left;">Sales made last year</td>
         <td style="background-color:yellow;text-align:right;"> <%= @company.role.sales_made %></td>
      </tr>
