<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>


    <% company.events.order('id DESC').all.each do |e| %>
    <% if company.show_read_events || !e.read %>
  <% if e.read %> <div class="event_object"> <% else %> <div class="event_object unread"> <% end %>
    <input type="hidden" name="object_id" value="<%= e.id %>" id="<%= "event#{e.id}"%>">
    <strong><%= e.title %> </strong> <% if !e.read %><div class="btn btn-success mark-read">Mark as read</div> <i class="icon-warning-sign"></i> <% end %>
    <p> <%= e.description %> </p></div> <br /> <br/>
    <% end %>
    <% end %>