<p> <strong> Service Level: </strong><%= @company.role.service_level %></p>
<p> <strong> Specialized: </strong><%= @company.role.specialized %></p>
<p> <strong> Capacity: </strong><%= @company.role.capacity %></p>
<p> <strong> Product type: </strong><%= @company.role.product_type %></p>