<div style="text-align:justify;font-size:15px;line-height: 1.5;">
<strong> Service Level: </strong><%= @company.role.service_level %></br>
<strong> Specialized: </strong><%= @company.role.specialized %></br>
</div>