<div style="text-align:justify;font-size:15px;line-height: 1.5;">
<strong> Service Level: </strong><%= @company.service_level_to_s %> <br/>
<strong> Product type: </strong><%= @company.product_type_to_s %><br/>
</div>