<%= provide(:title, 'Edit Company Type') %>
<h1>Edit the Company Type</h1>
 
     <div class="span10 lead" style="line-height:15px;">
        <%= render 'company_type_form', :submit_text => "Save changes" %>
      </div>
 

<div id="footer" style="clear:both;text-align:center;">
          </div>
