<%= provide(:title, 'New Company Type') %>
<h1>Create new Company Type</h1>
 
     <div class="span10 lead" style="line-height:15px;">
        <%= render 'company_type_form', :submit_text => "Create company type" %>
      </div>
 

<div id="footer" style="clear:both;text-align:center;">
          </div>
