<%= provide(:title, 'New Company Type') %>
<h1>Create new Company Type</h1>
   <div class="row">
     <div class="span8 offset3">

        

       
        <%= render 'company_type_form', :submit_text => "Create company type" %>

        


      </div>
  </div>

