<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'Risks') %>
<h1>Risk(s)</h1>
<div>
  <%= link_to "Create new risk", new_risk_path, :class => "btn btn-info" %>
  </div><br/>
<div class="marketbody">
  <div class="alpha60">
    <br/>
  <p style="color:white;">&nbsp<i class="icon-info-sign icon-white"></i>  <em>All the risks created are shown below.</em></p><br/>
    <% @risks.each do |risk| %>
    <div class="showmarkettext">
    <%= link_to risk.title, risk , :class => "thumbnail title_label", :style=>"display:inline;padding-left:5px;"%>
    <%= link_to risk, method: :delete, confirm: "You sure?" do %> <i class="icon-remove icon-white"></i>  <% end %><br/><br/><br/>
    </div>
    <% end %>



<p style="color:white;text-align:right;font-size:10px;">World Trade Center. (Metro Centric/Flickr) </p>
</div></div>

<div id="footer" style="clear:both;text-align:center;">
</div>
