<%= provide(:title, 'debug') %>

<h1> Customer preference for <% @market.name %> </h1>

<ul>
  <% @customers.each_with_index do |c, i| %>
  <li> Customer <%= i %>: <%= c.to_s %> <br/> <%= c.satisfaction_to_s %> <% if c.random_buy %> Company was chosen on random <% end %>   </li>
  <% end  %>
</ul>