<%= provide(:title, 'Edit Market') %>
<input type="hidden" id="delimiter_field"></input>

<h1>Edit Market</h1>
<input type="hidden" id="market_id" name="market_id" value="<%=@market.id%>"/>
  <%#  <div class="row">
  <div class="span6 offset3">
      <div class="alpha60">%>
        <%= render 'market_table' %>


  
  
  
  
  
  
  
  
  



 