<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'All markets') %>

<h1>Market(s)</h1>
<div style="padding-left:20%;">
  <%= link_to "Create new market", new_market_path, :class => "btn btn-info" %>
  <div></br>
<div class="marketbody">
  <div class="alpha60">
    </br>
  <p style="color:white;">&nbsp<i class="icon-info-sign icon-white"></i>  <em>All the market(s) created are shown below.</em></p><br/>
    <% @markets.each do |market| %>
    <div class="showmarkettext">
    <%= link_to market.name, edit_market_path(market) , :class => "thumbnail title_label" %> <br/> <br/>
    </div>
    <% end %>

   

<p style="color:white;text-align:right;font-size:10px;">World Trade Center. (Metro Centric/Flickr) </p>
</div></div>


<div id="footer" style="clear:both;text-align:center;">
</div>


   

  
