<%= provide(:title, 'All markets') %>
<%= stylesheet_link_tag "markets.css" %> 
<h1>Market(s)</h1>

<div class="marketbody">
  <%= link_to "Create new market", new_market_path, :class => "thumbnail btn-primary title_label_market" %>
  
  
    <% @markets.each do |market| %>
    <div class="showmarkettext">
   <div class="alpha60"><br/>
    <%= link_to market.name, market , :class => "thumbnail title_label"%><br/>
    </div>
  </div>
    <% end %>

   
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<p style="color:white;text-align:right;">World Trade Center. (Metro Centric/Flickr) </p>
</div>

<div id="footer" style="clear:both;text-align:center;">
</div>


   

  
