<%= provide(:title, 'New Market') %>
<div class="marketcreatebody">
<h1>Create new Market</h1>

      <div class="alpha60">
        <%= render 'market_table' %>
  <p style="color:white;text-align:left;font-size:12px;opacity:0.6;">The Colosseum. (Sebastian Bergmann/Flickr) </p>
</div>

  
  
 <div id="footer" style="clear:both;text-align:center;">
  </div>
  


 