<%= provide(:title, @market.name) %>

   <%= render @market %><br/><br/>
    <div class="showmarkettext">
     <%= link_to edit_market_path(@market), :class => "btn btn-primary" do %> <i class="icon-edit icon-white"></i> Edit Market <% end %>
     <%= link_to market_debug_path(@market), :class => "btn btn-primary" do %> <i class="icon-edit icon-white"></i> Debug Market <% end %>
  
</div>