<%= provide(:title, @market.name) %>
<div class="marketcreatebody">
<div class="showmarketarea">
  <div class="alpha60">
   <%= render @market %></br></br>
    <div class="showmarkettext">
     <%= link_to edit_market_path(@market), :class => "btn btn-primary" do %> <i class="icon-edit icon-white"></i> Edit Market <% end %>
    </div></br></br>
  </div>
</div>
<p style="color:white;text-align:right;">The Colosseum. (Sebastian Bergmann/Flickr) </p>
</div>