// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.statistics{
background-image:url('init_background.png');
background-size:300%;
}


#footer_id{
  visibility:hidden;
}

#member {
    width: 400px;
    height: 400px;
    -webkit-border-radius: 450px;
    -moz-border-radius: 450px;
    border-radius: 50%; 
    background-color:white;
  }

.roundtable
{
  position: relative;
  top: 11%;
  left:0%;
}

.CEOmember
{
position: absolute;
z-index: 1;
top:38.5%;
left:7%;
}

.CFOmember
{
position: absolute;
z-index: 1;
top:1%;
left:36%;
}

.VPMmember
{
position: absolute;
z-index: 1;
top:1%;
left:70.5%;
}


.COOmember
{
position: absolute;
z-index: 1;
top:77%;
left:36%;
}

.VPSmember
{
position: absolute;
z-index: 1;
top:77%;
left:70.5%;
}

.square{
  width:10.5cm;
  height:10.5cm;
  background-color:white;
  position:relative;
  left:5%;
}


.small_square_1{
  background-image:url("luxuryspacehop.png");
  background-position:center;
  width:5cm;
  height:5cm;
  font-size:16px;
  text-align:center;
  color:white;
  float:left;
  border-style:solid;
  border-width:3px;
  border-color:white;
}

.small_square_2{
  background-image:url("luxuryspacestation.png");
  background-position:center;
  width:5cm;
  height:5cm;
  font-size:16px;
  text-align:center;
  color:white;
  float:left;
  border-style:solid;
  border-width:3px;
  border-color:white;
}

.small_square_3{
  background-image:url("budgetspacehop.png");
  background-position:center;
  width:5cm;
  height:5cm;
  background-color:green;
  font-size:16px;
  text-align:center;
  color:white;
  float:left;
  border-style:solid;
  border-width:3px;
  border-color:white;

}

.small_square_4{
  background-image:url("budgetspacestation.png");
  background-position:center;
  width:5cm;
  height:5cm;
  background-color:orange;
  font-size:16px;
  text-align:center;
  color:white;
  float:left;
  border-style:solid;
  border-width:3px;
  border-color:white;
}


.full_square{
  width:5cm;
  height:5cm;
  background-color:white;
  opacity: 0.1;
  font-size:16px;
  text-align:center;
}


.free_square{
  width:5cm;
  height:5cm; 
  /* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.7);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


