// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.statistics{
background-image:url('init_background.png');
}


#footer_id{
  visibility:hidden;
}

#member {
    width: 400px;
    height: 400px;
    -webkit-border-radius: 450px;
    -moz-border-radius: 450px;
    border-radius: 50%; 
    background-color:white;
  }

.roundtable
{
  position: relative;
  top: 11%;
  left:0%;
}

.CEOmember
{
position: absolute;
z-index: 1;
top:38.5%;
left:7%;
}

.CFOmember
{
position: absolute;
z-index: 1;
top:7%;
left:36%;
}

.VPMmember
{
position: absolute;
z-index: 1;
top:7%;
left:70.5%;
}


.COOmember
{
position: absolute;
z-index: 1;
top:77%;
left:36%;
}

.VPSmember
{
position: absolute;
z-index: 1;
top:77%;
left:70.5%;
}


.roundcompany{
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;

}

.companyblock{
  background-image:url("groupblock.png");
  background-size:100%;
  width:5cm;
  height:1cm;
  color:white;
  font-size:16px;
  text-align:center;
  float:left;
}

.btn-com {
  background-color: hsl(0, 0%, 0%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(#000000, #000000);
  border-color: #000000 #000000 hsl(0, 0%, 0%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  border-color:white;
}

