// Place all the styles related to the ContractProcesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#process_container{
	
	background-color:white;
}

#process_box{
	
	background-color:#eeeeee;
	padding:5px;
}

#process_rfp_box{
	color:#000000;
}


#process_bid_box{
	color:#000000;
}