$linkColor: #0066FF;

.navbar{
 min-width:1000px;
}

.nav-tabs li a 
{font-size:22px;
}

.nav-position {
height:0px;
left:0px;
top:0px;
right:0px;
position:absolute;
}

.nav-top{
    position: top;
    top: 0;
    left: 0;
  }
  
.thumbnail{
width:150px;
height:30px;
margin:5px;
 z-index:7;
}

.box1 {
font-family: Arial;
font-size: 16px;
} 



@import "bootstrap";
@import url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css);


.navbar-inner, .navbar .btn-navbar {
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


.navbar .divider-vertical {
    background-color: black;
    border-right: 1px solid #45484d;
    }
    
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: white;
    }

.navbar .nav > li > a {
    color: white;
    }
	

.navbar .nav > li > a:hover {color:#E0E0E0  ;}


.navbar .nav .active > a, .navbar .nav .active > a:hover {color:#E0E0E0  ;}
    
    

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

//* typography */

h1, h2, h3, h4, h5, h6, p1 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #00CCFF;
}

h4 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #999;
}

h5 {
  font-size: 1.7em;
  letter-spacing: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: #00CCFF;
}

p1{
  font-size: 1.2em;
  letter-spacing: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #00CCFF;
}

p2{
  font-size: 1.3em;
  letter-spacing: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  
}


.welcome{
    color: #0000FF;
  
}

/*individual id's*/
#notassigned {
  color: red;
}

#manage{
  margin-top:50px;
  font-size:20px;font-weight: normal;
  color: #999;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

#logo1{
max-height:100px;
max-width:100px;
}



.nav-logo-nbg-position{
height:10px;
left:100px;
right:0px;
position:absolute;}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* Business plan */

.box {
font-family: Arial;
font-size: 16px;
color:white;
padding:3px;
margin: 10px auto;
} 

.pad{
background:#FF9933;
}

.details {
background:white;
}

.unfinished {
  background:red;
}

.waiting {
  background:orange;
}

.verified {
  background:green;
}

.size_buttons {
  float:left;
  padding: 10px;
  margin: 10px auto;
}


.left_button {
  float:left;
  margin: 0px 0px 0px 300px;
}

.right_button {
  float:right;
  margin: 0px 300px 0px 0px;
}

.clear {
  clear:both;
}

.show_block:hover {
  cursor:pointer;
}

.hide_block:hover {
  cursor:pointer;
}


/*Edit business plan css*/ 

.labelstyle
{ font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: #00CCFF;
}
  
.contentstyle
{ font-size: 1.1em;
  text-align: left;
  font-family: Arial;
  color: black;
}

.youtube{
text-align:center;
}


/*#category_sidebar{
	  width: 16%;
    padding: 1%;
    margin: 1%;
    float: left;
    overflow:   auto;
}

.gender_solid_background{ 
    background: #CCCCCC;
	background: rgba(80, 80, 80, 0.4);
}
*/

#ads{
	width: 100%;
  padding: 1%;
  margin: 1%;
  float: right;
  display: block;	
}

.ads_for_single_category{
	width: 100%;
	height: auto;
	padding: 1%;
	margin: 1%;
    clear: both;
}

.gender_middle_background{
  background-image:url('virgingalactic.jpeg');
  background-size:220%;
    padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;

}

.btncompany{
  font-size: 1em;
  font-family: Arial;
  color: black;
  width: 140px;
  height:60px;
  margin: 1%;
}

#btncompany1{
  font-size: 1em;
  font-family: Arial;
  color: black;
  width: 120px;
  height:40px;
  margin: 1%;
}

.ovalshape{
  font-size: 1em;
  font-family: Arial;
  width: 100px;
  height:10px;
}

#searchposition{
  position:absolute;
  top:4px;
  left:100%;
}

#userpage_search{
  width: 20%;
}

/* Market */

.title_label{
  padding-top:1%;
  padding-left:5%;
  font-size: 1.3em;
  font-family: Arial;
  color: white;
}

.title_label_market{
  padding-top:1%;
  font-size: 1.3em;
  font-family: Arial;
  position:center;
}

.fieldarea{
  padding-left:5%;
  width:80%;
}
  
.field_label{
  font-size: 1.3em;
  font-family: Arial;
  color: black;
}

.createbuttonarea{
  padding-left:70%;
}

.marketradiopads
{
  padding-left:10%;
}

.showmarketarea{
  font-family: Arial;
  padding-top:10%;
  color: white;
  padding-left:20%;
  width:60%;
  height:80%;
}


.showmarkettext{
  font-size: 1.3em;
  font-family: Arial;
  color: white;
  padding-left:20%;
  width:60%;
  height:80%;
}


.alpha60 {
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.7);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

/*Contract*/
#acceptbuttoncontract{
  padding-left:5%;
  
}
#rejectbuttoncontract{
  padding-left:60%;
  
}

#footer_id{
  display:none;
}

.slider_result{
text-align:center;
color:white;
}

table.tableizer-table1 {border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif; font-size: 16px;}
.tableizer-table1 td {padding: 4px; margin: 3px; border: 1px solid #ccc; text-align:right;}
.tableizer-table1 th {background-color: #104E8B; color: #FFF; font-weight: bold;}
table.tableizer-table {border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif; font-size: 16px;float:left;} 
.tableizer-table td {padding: 4px; margin: 3px; border: 1px solid #ccc; text-align:right;}
.tableizer-table th {background-color: #104E8B; color: #FFF; font-weight: bold;}

.left {
  float:left;
}

.right {
  float:right;
}

.bid-box{
  padding:5px;
  width:60%;
  text-decoration:none;
  color: white;
}

.rejected {
    background: rgb(255, 0, 0); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 0, 0, .6);
}

.waiting {
  background: rgb( 244, 164, 96); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba( 244, 164, 96, .6);
}

.accepted {
  background:green;
}

.modal-large{
    width: 780px;
    margin-left: -390px; /* - width/2 */
}

hr {
  border: 0;
  width: 80%;
}

hr.h1 {
  color: #f00;
  background-color: #f00;
  height: 5px;
}

.news_div
{
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
padding:3px;
//column-rule:3px outset black;
//-moz-column-rule:3px outset black; /* Firefox */
//-webkit-column-rule:3px outset black; /* Safari and Chrome */
}

.jsonly {
  display:none
}

.mainline {
  position: relative;
  font-size: 0px;
  //top: -1px; //<-- hides the line if the element is in the frist row
  left: 0px;
  width: 100%; //<-- the full width of the line
  border: 1px solid black;
}

.mainlinered {
  position: relative;
  font-size: 0px;
  //top: -1px; //<-- hides the line if the element is in the frist row
  left: 0px;
  width: 100%; //<-- the full width of the line
  border: 5px solid red;
}

#news_image{
  max-width:300px ;
  max-height:300px ;
}

.white_text{
  color:white;
}

.bonus_table {
  border-collapse:separate;
  border-spacing: 30px 5px;
}

.quality_table {
  border-collapse:separate;
  border-spacing: 20px 10px;
  table-layout: fixed;
}

.quality_table td {
  min-width: 40px;
}