// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.roundbody
{
background-image:url('round.jpeg');
background-repeat:no-repeat;
background-width:100%;
background-height:20%;
}


.buttonback{
background-color:red;
color:white;}


.buttonprevious{
background-color:#993300;
font-size:16px;
color:white;
float:left;
}

.buttonend{
background-color:red;
font-size:16px;
color:white;
size:33%;
float:left;}

.buttonnext{
background-color:green;
font-size:16px;
color:white;
size:33%;
float:left;}