// Place all the styles related to the markets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.marketbody
{
background-image:url('tradecenter.jpeg');
background-repeat:no-repeat;
background-size: 100%;
}

.marketcreatebody
{
background-image:url('marketbackground.jpeg');
background-repeat:no-repeat;
background-size: 150%;
}


.squaremarkets{
  width:23cm;
  height:23cm;
  background-color:white;
  position:relative;
  float:left;
}


.small_square_markets_1{
  background: url("luxuryspacehop.png") no-repeat; 
  background-size: 100%;
  width:11cm;
  height:11cm;
  font-size:12px;
  background-color:green;
  color:black;
  float:left;
  border-style:solid;
  border-width:1px;
  border-color:white;
}

.small_square_markets_2{
  background: url("luxuryspacestation.png") no-repeat; 
  background-size: 100%;
  width:11cm;
  height:11cm;
  font-size:12px;
  background-color:green;
  color:black;
  float:left;
  border-style:solid;
  border-width:1px;
  border-color:white;
}

.small_square_markets_3{
  background: url("budgetspacehop.png") no-repeat; 
  background-size: 100%;
  width:11cm;
  height:11cm;
  font-size:12px;
  background-color:green;
  color:black;
  float:left;
  border-style:solid;
  border-width:1px;
  border-color:white;

}

.small_square_markets_4{
  background: url("budgetspacestation.png") no-repeat; 
  background-size: 100%;
  width:11cm;
  height:11cm;
  font-size:12px;
  background-color:green;
  color:black;
  float:left;
  border-style:solid;
  border-width:1px;
  border-color:white;
}