// Place all the styles related to the markets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.marketbody
{
background-image:url('tradecenter.jpeg');
background-repeat:no-repeat;
background-size: 100%;
}

.marketcreatebody
{
background-image:url('marketbackground.jpeg');
background-repeat:no-repeat;
background-size: 150%;
}




