// Place all the styles related to the networks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resultbody{
background-image:url('results_bg.jpeg');
background-repeat:no-repeat;
}

#box_main {
    width: 900px;
    height: 600px;
    background-color: white;
    
  }
  
.globenetwork{
      position: relative;
      top: 45%;
      left: 0%;
}

.marketingbody{
      position: relative;
      top: -27%;
      left: 30%;
}

.operatorbody{
      position: relative;
      top: -66%;
      left: 60%;
    }
    
.technologybody{
      position: relative;
      top: -59%;
      left: 45%;
    }
    
.supplybody{
      position: relative;
      top: -99%;
      left: 75%;
    }

.connector1 {
    height: 140px ;
    width: 200px;
    position: relative;
    top: -168% ;
    left: 8%;
}

.connector2 {
    position: relative;
    top: -189% ;
    left: 52%;
}

.connector3 {
    position: relative;
    top: -173.5% ;
    left: 55.5%;
}

.connector4 {    
    position: relative;
    top: -182% ;
    left: 71.5% ;
}
