// Place all the styles related to the networks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resultbody{
background-image:url('results_bg.jpeg');
background-repeat:no-repeat;
}

#circle_main {
    width: 900px;
    height: 900px;
    -webkit-border-radius: 450px;
    -moz-border-radius: 450px;
    border-radius: 50%; 
    background-color:white;
  }

.marketingbody{
      position: relative;
      top: 11%;
      left: 12%;
}

.operatorbody{
      position: relative;
      top: -10%;
      left: 83%;
    }
    
.technologybody{
      position: relative;
      top: 5%;
      left: 0%;
    }
    
.supplybody{
      position: relative;
      top: -5%;
      left: 71%;
    }

.circle1{
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      border-radius: 50%; 
      background-color: red;
      position: relative;
      top: 11%;
      left: 12%;
}

.circle2{
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      border-radius: 50%; 
      background-color: red;
      position: relative;
      top: -5%;
      left: 71%;
}

.circle3{
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      border-radius: 50%; 
      background-color: red;
      position: relative;
      top: 5%;
      left: 0%;
}

.circle4{
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      border-radius: 50%; 
      background-color: red;
      position: relative;
      top: -10%;
      left: 83%;
}

.circle5{
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      border-radius: 50%; 
      background-color: red;
      position: relative;
      top: 16%;
      left: 40%;
}

.circle6{
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      border-radius: 50%; 
      background-color: red;
      position: relative;
      top: -14%;
      left: 10%;
}

.circle7{
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      border-radius: 50%; 
      background-color: red;
      position: relative;
      top: -30%;
      left: 72%;
}

.circle8{
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      border-radius: 50%; 
      background-color: red;
      position: relative;
      top: -116%;
      left: 43%;
}

#connector1 {
width:400px;
height:6px;
position: relative;
float: left;
z-index: 1;
top:20%;
left:28%;
}

#dottedline1 {
width:400px;
height:6px;
position: relative;
float: left;
z-index: 1;
top:20%;
left:-17%;
}

#connector2 {
width:60px;
height:117px;
position: relative;
float: left;
z-index: 1;
top:26%;
left:-79%;
}

#dottedline2 {
width:60px;
height:117px;
position: relative;
float: left;
z-index: 1;
top:13%;
left:10%;
}

#connector3 {
width:575px;
height:130px;
position: relative;
float: left;
z-index: 1;
top:15%;
left:8%;
}

#connector5 {
width:445px;
height:1000px;
position: relative;
float: left;
z-index: 1;
top:25%;
left:25%;
}

#dottedline5 {
width:400px;
height:6px;
position: relative;
float: left;
z-index: 1;
top:23%;
left:-22%;
}