// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userbody
{
background-image:url('roundtable.png');
background-repeat:no-repeat;
}

#Members_region
{
    
    background-color: white;
    border: 2px solid green;
}

#CEO
{
  position: relative;
      top: -10%;
      left: 0%;
}